:root{
    --garnet:#8b0000;
}
.disable-selection{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content{
    padding-top:10px;
}
.rowHeader{
    border-bottom:1px solid var(--garnet);
}